.ingredient-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(97, 87, 87, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredient-content {
  background: white;
  padding: 25px;
  border-radius: 10px;
  max-width: 90%;
  width: 90%;
  box-shadow: 0 6px 15px rgba(39, 36, 36, 0.25);
  text-align: center;
}

.item-title {
  margin-bottom: 10px;
  font-size: 22px;
  color: #e85c54;
}

.description {
  margin-bottom: 15px;
  color: #555555;
  font-size: 15px;
}

.ingredient-list {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 20px;
  max-height: 180px;
  overflow-y: auto;
  color: #333333;
  text-align: left;
  font-size: 15px;
}

.no-list-text {
  margin: 6px 0;
  font-size: 15px;
}

.close-button {
  padding: 8px 18px;
  border: none;
  background: #ff6f61;
  color: white;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .ingredient-content {
    max-width: 500px;
    padding: 35px;
  }

  .item-title {
    font-size: 26px;
  }

  .description {
    font-size: 20px;
  }

  .ingredient-list {
    max-height: 220px;
    font-size: 18px;
  }

  .close-button {
    padding: 10px;
    font-size: 18px;
  }
}


@media screen and (min-width: 992px) {
  .ingredient-content {
    max-width: 600px;
    padding: 50px;
  }

  .item-title {
    font-size: 28px;
  }

  .description {
    font-size: 19px;
  }

  .ingredient-list {
    max-height: 250px;
    font-size: 18px;
  }

  .close-button {
    padding: 13px;
    padding-left: 18px;
    padding-right: 18px;
    font-size:17px;
  }
}
