.dish-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.empty-msg {
  font-size: 15px;
  color: #888456;
  text-align: center;
  padding: 30px;
}


@media screen and (min-width: 768px) {
  .dish-list {
    gap: 20px;
    margin-top: 20px;
  }

  .empty-msg {
    font-size: 16px;
    padding: 35px;
  }
}



@media screen and (min-width: 992px) {
  .dish-list {
    gap: 25px;
    margin-top: 25px;
  }

  .empty-msg {
    font-size: 17px;
    padding: 40px;
  }
}

