body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333333;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 90%;
  margin: 20px auto;
  padding: 15px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(22, 22, 22, 0.08);
}

.party-menu-title {
  text-align: center;
  color: #ff6f61;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
}

.summary-container {
  margin-top: 20px;
  background: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 10px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 4px 5px rgba(104, 95, 95, 0.634);
}

.ordered-dishes {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: #444456;
}

.dishes-list {
  list-style-type: disc;
  padding-left: 20px;
  color: #557895;
}

.no-dishes-text {
  text-align: center;
  color: #0064a7;
  font-size: 15px;
  margin: 8px;
}

.dish-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}


@media screen and (min-width: 768px) {
  .app-container {
    max-width: 700px;
    margin: 25px auto;
    padding: 30px;
  }

  .party-menu-title {
    font-size: 36px;
    margin-bottom: 25px;
  }

  .summary-container {
    padding: 20px;
    max-width: 700px;
  }

  .ordered-dishes {
    font-size: 18px;
  }

  .dishes-list {
    font-size: 15px;
  }

  .no-dishes-text {
    font-size:15px;
  }

  .dish-list {
    gap: 20px;
  }
}


@media screen and (min-width: 992px) {
  .app-container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 40px;
  }

  .party-menu-title {
    font-size: 45px;
    margin-bottom: 30px;
  }

  .summary-container {
    padding: 30px 40px;
    max-width: 900px;
  }

  .ordered-dishes {
    font-size: 19px;
  }

  .dishes-list {
    font-size: 17px;
  }

  .no-dishes-text {
    font-size: 18px;
  }

  .dish-list {
    gap: 30px;
  }
}









